
<% include ./partials/header %>



<h1 style="text-align:center">You are not logged in</h1>

<h1 style="text-align">To vote <a href="/login">login</a>
<br>

<h1 style="text-align">To only read continue to <a href="/">login</a>



<% include ./partials/footer %>